*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F6F8F9;
    /* background-color: #8f9294; */
}

header{
    height: 7rem;
    background-color: white;
}
header div img, header div h1{
    display: inline-block;
    vertical-align: middle;
}
header div img{
    height: 5rem;
    margin: 1rem;
}

main{
    margin: auto;
    width: 70rem;
}
.container{
    align-items: center;
    margin: auto;
    /* padding: 4rem; */
    margin-top: 1rem;
    border-radius: 1rem;
    /* background-color: white */
}
.container_button{
    margin-bottom: 2px;
    background-color: white;
    border-radius: 10px;
}
#bottoni, section .task{
    margin-left: 40px;
    margin-bottom: 20px;
    padding: 0.7rem 0;
}

#bottoni{
    margin-top: 2rem;
}
#addT{
    background-color: rgb(43, 169, 219);
    color: white;
    border: 1px solid rgb(43, 169, 219);;
}
#addS{
    color: rgb(165, 165, 165);
    border: 0.1rem;
    border-color: rgb(156, 155, 155);
    border-style: solid;
}
.buttonstyle{
    padding: 0.7rem 1.5rem;
    border-radius: 10%;
}

.task{
    margin-bottom: 3rem;
}
.task:nth-child(2){
    margin-top: 10px;
}
.genere{
    background: green;
    padding: .4rem;
    border-radius: 1rem;
    color: white;
    font-size: 0.8rem;
    
}

ul{
    line-height: 250%;
    list-style-type: none;
}

.rotate{
    transform: rotate(90deg);
}

.task_container{
    background-color: white;
    border-radius: 10px;
}

.container_button .task{
    background-color: white;
}

.cyan{
    background-color: #45ABEA;
}
.green{
    background-color: green;
}
.mgreen{
    background-color: greenyellow;
}
.pink{
    background-color: pink;
}
.orange{
    background-color: orange;
}
.violet{
    background-color: violet;
}

i{
    color: green;
    width: 20px;
    height: 20px;
    border: 1px solid green;
    border-radius: 100%;
    font-size: 1rem;
}
.wrong{
    color: red;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 100%;
    font-size: 1rem;
}
}